*{
	margin:0;

	}

body
{
	font-family: myFont;
}

head
{
		.no-js #loader { display: none;  }
		.js #loader { display: block; position: absolute; left: 100px; top: 0; }
		.se-pre-con {
						position: fixed;
						left: 0px;
						top: 0px;
						width: 100%;
						height: 100%;
						z-index: 9999;
						background: url(load.gif) center no-repeat #fff;
					}

}





	
	#f_right
	{
		text-align:right;
	}
		#container {}
		nav
		{
			background:transparent;
			color:white; 
			cursor:pointer;
			position:fixed;
			width:100vw;
			z-index:1;

		}
			nav ul
			{
				display:flex;
				
				
			}
				nav li
				{
					list-style:none;
					padding: 15px;
					transition: background .8s, color .8s;
					
				}
				nav li:hover
				{
					
					color:#00004c;
					
				}
				nav a
				{
					color:white;
					text-decoration:none;
				}
		header
		{
			background:url(underwater.jpg) center;
			width: 100vw;
			height: 100%;
			padding:20% 30%;
			box-sizing:border-box;
			display:flex;
			justified-content:center;
		}
		
			#h_left
			{
				padding: 50px 0;
				margin:10px ;
				font-size: 30px;
				opacity:0;
				animation: h_left_anim 0.5s;
				animation-fill-mode: forwards;
				animation-delay:1s;
				order:1;
			}


			#h_right
			{
			    
				width:100px;
				height:100px;
				margin:10px -250px ;
				opacity:0;
				animation: h_right_anim 1s;
				animation-fill-mode: forwards;
				cursor:pointer;
				order:2;
				
			}
			#h_right img
			{
			border-radius:100px;
			}


			@keyframes h_left_anim
			{
			from
				{
					margin-bottom:15px;
					opacity:0;
				}
			to
				{
					margin-top:20px;
					opacity:1;
				}
			}

			@keyframes h_right_anim
			{
			from{
					opacity:0;
					margin-right:-250px;
				}
			to{
					opacity:1;
					margin-left:10px;
				}
			}

			@font-face
			{
			src: url(Ubuntu-L.ttf);
			font-family: myFont;
			}
		#one
			{
				width:100vw;
				padding:40px;
				background:#4c4cff;
				color:white;
				box-sizing:border-box;
			}
		
				#one h1
					{
						text-align:center;	
						padding:10px;
						font-size:30px;
					}
				
				#one p
					{
						text-align:justify;
						font-size:20px;
						width:600px;
						margin:10px auto;
					}
				#one button
					{
					background:#4c4cff;
					border-radius:15px;
					color:white;
					margin:20px 0;
					width:200px;
					height:50px;
					font-size:20px;
					transition: background .8s ,color .8s;
					cursor:pointer;
					
					}

				#one button:hover
					{
						background:white;
						color:#993300;
					}
			#two
				{
					width:100vw;
					padding:40px;
					background:#4c4cff;
					color:white;
					box-sizing:border-box;
				}
				#two h1
					{
						text-align:center;	
						padding:10px;
						font-size:30px;
					}
					#two h2
					{
						text-align:center;	
						padding:10px;
						font-size:30px;
					}
			#work-group
				{
					justify-content:center;
					display:flex;
					align-items:center;
					flex-flow:wrap;
				}
			#two article
				{
					width:300px;
					height:200px;
					background:#6666C2;
					margin:10px 20px;
				}

			
	
			#three
				{
					width:100vw;
					padding:40px;
					background:#4c4cff;
					color:white;
					box-sizing:border-box;
				}
					
					#three h1
					{
						text-align:center;	
						padding:10px;
						font-size:30px;
						color:white;
					}
					#three form
					{
					width:600px;
					margin:0 auto;
					}
						#three input
						{
							display:block;
							width:600px;
							height:50px;
							font-size:20px;
							margin:10px 0;
							background:#4c4cff;
							color:white;
							border-top:1px solid white;
							border-left:0;
							border-right:0;
							border-bottom:0;
							outline:none;
						}

						#three textarea
						{
							display:block;
							width:600px;
							height:200px;
							font-size:20px;
							margin:10px 0;
							background:#4c4cff;
							color:white;
							border-top:1px solid white;
							border-left:0;
							border-right:0;
							border-bottom:1px solid white;
							outline:none;
						}
					::webket-input-placeholder
					{
							color:white;					
					}
					#three button
					{
					background:#4c4cff;
					border-radius:15px;
					color:white;
					margin:20px 0;
					width:200px;
					height:50px;
					font-size:20px;
					transition: background .8s ,color .8s;
					cursor:pointer;
					
					
					}

				#three button:hover
					{
						background:white;
						color:#4c4cff;
					}

				footer
					{
						background:#4c4cff;
						width: 100vw;
						height: 75px;
						padding:20px 50px;
						box-sizing:border-box;
					}

				#f_left
				{
					display:flex;
				}
				
				#f_left article
				{
					width:30px;
					height:30px;
					background:#6666C2;
					margin:5px 5px;
					cursor:pointer;
					border-radius:5px;
					
					
				}

				#f_right
				{
					margin:-25px 15px;
					text-align:right;
					color:white;
				}
				#four h4
				{	
				}


